.playbtn {
    z-index: 2;
    width: 64px;
    height: 64px;
    background-color: #191919;
    box-shadow: 0 0 10px #111111FF;
    background-image: url(icons/play.png); 
    background-size: cover;
    text-decoration: none;
    border: none;
}

.nextbtn {
    z-index: 2;
    width: 64px;
    height: 64px;
    background-color: #191919;
    box-shadow: 0 0 10px #111111FF;
    background-image: url(icons/forward.png); 
    background-size: cover;
    text-decoration: none;
    border: none;
}

.settingsbtn {
    z-index: 2;
    width: 64px;
    height: 64px;
    background-color: #191919;
    box-shadow: 0 0 10px #111111FF;
    background-image: url(icons/settings.png); 
    background-size: cover;
    text-decoration: none;
    border: none;
}

.backbtn {
    z-index: 2;
    width: 64px;
    height: 64px;
    background-color: #191919;
    box-shadow: 0 0 10px #111111FF;
    background-image: url(icons/backward.png); 
    background-size: 64px;
    text-decoration: none;
    border: none;
}


.wificonnectbtn {
    z-index: 2;
    width: 64px;
    height: 64px;
    background-color: #191919;
    box-shadow: 0 0 10px #111111FF;
    background-image: url(icons/disconnect.png); 
    background-size: 64px;
    text-decoration: none;
    border: none;
}