body {
    padding: 0px;
    margin: 0px;
    color: #BBBBBB;
    background-color: #2B2B2B;
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background-image: url(images/gradient.png);
    background-size: cover;
    #filter: blur(10px);
}

.block {
    text-align: left;
    z-index: 2;
    width: 650px;
    height: 64px;
    position: absolute;
    top: 85%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #191919;
    box-shadow: 0 0 10px #111111FF;
}

a {
    color: #006494;
    text-decoration: none;
}

.blockplaylist {
    text-align: left;
    z-index: 2;
    width: 85%;
    height: 60%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #191919;
    box-shadow: 0 0 10px #111111FF;
    overflow: auto;
}

.blockmenu {
    text-align: left;
    z-index: 2;
    width: 85%;
    height: 64px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 700px;
    left: 0;
    margin: auto;
    background-color: #191919;
    box-shadow: 0 0 10px #111111FF;
    overflow: auto;
}

.blockoptions {
    text-align: left;
    z-index: 2;
    width: 250px;
    height: 50%;
    min-height: 30%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    background-color: #191919;
    box-shadow: 0 0 20px #111111FF;
    font-family: 'Roboto', sans-serif;
}

.playlistbtn {
    background-color: #111111;
    border: none;
    color: white;
    width: 100%;
    padding: 16px 16px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.playlistbtn-selected {
    background-color: #006494;
    border: none;
    color: white;
    width: 100%;
    padding: 16px 16px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.block2 {
    text-align: left;
    z-index: 2;
    width: 200px;
    height: 64px;
    position: absolute;
    top: 85%;
    right: 0;
    bottom: 0;
    left: -900px;
    margin: auto;
    padding: 0px;
    background-color: #191919;
    box-shadow: 0 0 10px #111111FF;
}

.blockvol {
    text-align: left;
    z-index: 2;
    width: 200px;
    height: 64px;
    position: absolute;
    top: 85%;
    right: 0;
    bottom: 0;
    left: 900px;
    margin: auto;
    padding: 0px;
    background-color: #191919;
    box-shadow: 0 0 10px #111111FF;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: #006494;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #006494;
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.scroll-color-colors {
    scrollbar-color: grey #191919;
}

.btn-center {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.text-center {
    margin-top: -4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.text-timer {
    margin-left: 92%;
    margin-top: -26px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 10%;
    bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

